DISCORD_PUBLIC_KEY=
DISCORD_TOKEN=
DISCORD_TRANSPORT=
DISCORD_APPLICATION_ID=
DISCORD_IT_USER=
DATABASE_URL=
DATABASE_URL_UNPOOLED=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_SPREADSHEET_ID=
TICKET_SOLUTIONS_DIR=it-tickets
PORT=8000
REGISTER_COMMANDS=true
